#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: thin solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.building img {
    width: 100%;
}

.logo {
    position: fixed;
    top: 2px;
    left: 225px;
    width: 80px;
}
nav {
    background-color: #b3ddf2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    margin-top: -5px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
ol {
    list-style-type: none;
}
.links {
    margin-left: 10%;
}
.links > ol {
    display: flex;
    justify-content: space-around;

    }
li {
    padding: 0px;
    }
li a {
    text-decoration: none;
    transition:  900ms ease-in-out;
}
li a:hover {
    color: red;
    background-color: rgba(10, 61, 9, 0.324);
    border-radius: 10px;
    text-decoration: underline;
}
li a:visited {
    color: rgb(77, 8, 75);
}

.flag > img {
    width: 100%;
}
#beers{
    display: flex;
}
button {
    background-color: red;
    color: lightsteelblue;
    font-size: 16px;
    border: 1px solid black;
    box-shadow: 1px 2px gray;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 80%;
    margin-bottom: 10%;
}
button:hover {
    background-color: lightsteelblue;
    color: black;
    border: 1px solid red;
    transition: 1900ms;
}
button:active {
    background-color: blue;
    transform: rotate(180deg) translateY(5px);
    transition: 500ms;

}
.beermenu {
    background-image: url("images/beer-kettles.jpg");
    background-size: contain;
    background-color: yellow;
    width: 50%;
}
.pints {
    width: 50%;
}
.pints img {
    width: 100%;
}
#food {
    display: flex;
}
.women {
    width: 50%;
}
.women img{
    width: 100%;
}
.foodmenu {
    background-image: url("images/nachos-burger.jpg");
    background-size: contain;
    width: 50%;
}

#entertainment {
    display: flex;
}
.tv {
    width: 50%;
}
.tv img {
    width: 100%;
}
.cheers {
    width: 50%;
}
.cheers img {
    width: 100%;
}
#reviews {
    background-image: url(images/cans2.png);
    text-transform: capitalize;
    font-size: 32px;
    text-align: center;
}
#reviews img {
    border-radius: 30px;
}

.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
}
.review {
    font-size: 14px;
    background-color: lightblue;
    border-radius: 15px;
    padding: 50px;
    margin: 10px 0px 15px 0px;
}
#contact{
    display: flex;
    justify-content: space-around;
    background-color: lightpink;
}
.location {
    background-color: red;
    height: 110px;
    width: 80px;
    margin: 10px;
}
.subscribe {
    background-color: yellowgreen;
    margin: 10px;
}
.hours {
    background-color: lightseagreen;
    margin: 10px;
}
footer{
    background-color: #444444;
    color: white;
}
