#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: thin solid black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.building img {
    width: 100%;
}
nav{
    background-color: #b3ddf2;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    padding: 5px;
    margin-top: -5px;
}
ol {
    list-style-type: none;
}
.links {
    margin-top: -5px;
}
.links > ol {
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    }
li {
    padding: 0px;
    }
li a {
    text-decoration: none;
    transition:  900ms ease-in-out;
}
li a:hover {
    color: red;
    background-color: rgba(10, 61, 9, 0.324);
    border-radius: 10px;
    text-decoration: underline;
}
li a:visited {
    color: rgb(77, 8, 75);
}
.flag {
}
.flag > img {
    width: 100%;
    margin-bottom: -5px;
    margin-top: -5px;
}
#beers{
    display: flex;
    text-align: center;
}
button {
    background-color: black;
    color: lightsteelblue;
    font-size: 16px;
    border: 1px dashed yellow;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 80%;
    margin-bottom: 10%;
}
button:hover {
    background-color: lightsteelblue;
    color: black;
    border: 1px solid red;
    transition: 700ms;
}
.beermenu {
    background-color: yellow;
    width: 50%;
}
.pints {
    width: 50%;
}
.pints img {
    width: 100%;
}
#food {
    display: flex;
    text-align: center;
}
.women {
    width: 50%;
}
.women img{
    width: 100%;
}
.foodmenu {
    background-color: hotpink;
    width: 50%;
}
.menu {
    width: 50%;
}

#entertainment {
    display: flex;
}
.tv {
    width: 50%;
    background-color: darkorange;
}
.tv img {
    width: 100%;
}
.cheers {
    width: 50%;
    background-color: darkslateblue;
}
.cheers img {
    width: 100%;
}
#reviews {
    background-color: violet;
    text-transform: capitalize;
    font-size: 32px;
    text-align: center;
}
.testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
}
.review {
    font-size: 14px;
    background-color: lightblue;
    border-radius: 15px;
    margin: 10px 0px 15px 0px;
}
#contact{
    display: flex;
    justify-content: space-around;
    background-color: lightpink;
}
.location {
    background-color: red;
    height: 110px;
    width: 80px;
    margin: 10px;
}
.subscribe {
    background-color: yellowgreen;
    margin: 10px;
}
.hours {
    background-color: lightseagreen;
    margin: 10px;
}
footer{
    background-color: #444444;
    color: white;
}
